#benefit_content {
  color: black;
  padding: 24px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 20px 0px #00000014;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

#benefit_content p:first-of-type {
  font-size: 30px;
  transition: color 300ms ease-out 400ms;
  color: black;
  line-height: 43px;
  font-family: 'Instrument Sans', system-ui;
}
#benefit_content p:last-of-type {
  font-size: 18px;
}
.benefit_content p:first-of-type {
  font-size: 32px;
}
.benefit_content p:last-of-type {
  font-size: 16px;
}

#benefit_content img {
  border-radius: 24px;
}

.benefit_title {
  font-size: 72px;
  color: #3060fe;
  font-family: 'Instrument Serif', serif;
  margin-bottom: 24px;
}

.benefit_subtext {
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 24px;
  max-width: 790px;
  color: #3060fe;
  font-family: 'Instrument Sans', system-ui;
}

@media screen and (max-width: 768px) {
  #benefit_content p:first-of-type {
    font-size: 24px;
  }
  .benefit_subtext {
    max-width: unset;
    text-align: center;
    margin-bottom: 64px;
  }
  
  .benefits_slider.swiper-container {
    margin-left: auto;
    margin-right: 20px;
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 450px) {
  /* #benefit_content {
		padding: 24px;
		flex-direction: column;
		row-gap: 24px;
	}

	#benefit_content img {
		height: unset;
		width: unset;
	}

	 */

  .benefit_title {
    margin-bottom: 0;
  }

  #benefit_content p:last-of-type {
    font-size: 16px;
  }

  .benefit_subtext {
    font-size: 16px;
  }
}
