.weight-loss-program-title {
  font-weight: 600;
  font-family: 'Instrument Sans', system-ui;
  font-size: 68px;
  text-align: center;
  line-height: 63px;
}

.weight-loss-program {
  row-gap: 32px;
  border-radius: 16px;
  width: 564px;
  /* box-shadow: 0px 13px 78.8px 0px #00000026; */
  box-shadow: 0px 13px 78.8px 0px rgba(100, 180, 255, 0.4), 0px -13px 78.8px 0px rgba(100, 180, 255, 0.4);
  background: rgba(255, 255, 255, 0.8);
}

.weight-loss-program-content {
  padding: 32px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
}

#program-summary {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  width: fit-content;
}

#program-summary span {
  font-size: 18px;
}

.card-blur {
  position: absolute;
  z-index: -1;
  top: 10%;
  height: 800px;
  width: 900px;
}
.custom-margin{
 margin-left: 10rem;
}
@media screen and (max-width: 1024px) {
  .card-blur {
    height: 700px;
    width: 800px;
  }
}

@media screen and (max-width: 768px) {
  .weight-loss-program-title {
    font-size: 42px;
    line-height: 56px;
  }

  .card-blur {
    top: 15%;
    height: 650px;
    width: 750px;
  }
}

@media screen and (max-width: 450px) {
  .weight-loss-program {
    width: initial;
  }

  #program-summary span {
    font-size: 16px;
  }

  .card-blur {
    top: 0%;
    display: none;
    height: 700px;
    width: 800px;
  }
}
