.alert-box {
  display: flex;
  background-color: white;
  border: 1px solid rgb(207, 206, 206);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    flex: 1;
  }

  &__icon-wrapper {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 0.25rem;

    svg {
      color: #eab308; // yellow-500
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      flex: 1;
    }
  }

  &__header {
    margin-bottom: 0.5rem;
  }

  &__heading {
    margin-bottom: 0.5rem;

    h1 {
      font-size: 2rem;
      font-weight: 100;
      margin-bottom: 0;
    }
  }

  &__actions-date {
    color: #4b5563;
  }

  &__actions-button {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    border: 1px solid #151515;
    border-radius: 6px;
    transition: background-color 0.2s;

    &:hover {
      background-color: #f3f4f6; // gray-100
    }
  }
}
