#wells-offer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#wells-offer-text p:first-of-type {
  font-size: 70px;
  font-weight: 700;
  line-height: 1;
}

#wells-offer-text p:nth-of-type(2) {
  font-size: 30px;
}

#wells-offer-text p:nth-of-type(3) {
  font-size: 36px;
  font-weight: bold;
}

#wells-offer-text p:nth-of-type(4),
#wells-offer-text p:nth-of-type(5) {
  font-size: 18px;
}

#wells-offer-text button {
  max-width: fit-content;
}

@media screen and (max-width: 768px) {
  #wells-offer-text {
    align-items: center;
  }

  #wells-offer-text p:first-of-type {
    font-size: 56px;
    font-weight: 700;
  }

  #wells-offer-text p:nth-of-type(2) {
    font-size: 24px;
  }

  #wells-offer-text p:nth-of-type(3) {
    font-size: 32px;
    font-weight: bold;
  }

  #wells-offer-text p:nth-of-type(4),
  #wells-offer-text p:nth-of-type(5) {
    font-size: 16px;
  }

  #wells-offer-text p:nth-of-type(5) {
    text-align: center;
  }
}
