.description2 {
  color: #979797 !important;
  font-weight: 400;
  line-height: 30px;
  font-size: 24px;
}

.description3 {
  color: #979797 !important;
}

.bullet-adjustment {
  list-style-position: inside;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.custom-bullet-margin {
  margin-top: 12px;
}

.per-month-price {
  color: #c1d0ff;
  font-size: 19px;
  font-weight: 500;
}

.purchase-tag {
  font-size: 19px;
  font-weight: 500;
}

.get-started:hover {
  background-color: #5a6268 !important;
  color: white !important;
  border: none !important;
}
