.all_plans_title {
    font-size: 56px;
    font-weight: 500;
    font-family: 'Instrument Sans', system-ui;
    line-height: 81px;
    color: #3060fe;
}

.plan_card {
    padding: 64px 24px;
    background: #3060fe;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    height: 100%;
}

.plan_card_icon {
    min-height: 86px;
}

.all_plans img {
    width: 294px;
    height: 294px;
    margin: 0 auto;
    align-self: center;
}

.all_plans .all_plans_card_title {
    font-family: 'Instrument Sans', system-ui;
    color: white;
    line-height: 52px;
    font-weight: 500;
}

.all_plans .all_plans_card_subtext {
    font-size: 18px;
    margin-top: 132px;
}

@media screen and (max-width: 768px) {
    .all_plans img {
        width: 150px;
        height: 150px;
    }
    
    .all_plans.swiper-container {
        margin-left: auto;
        margin-right: 20px;
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 450px) {
    .all_plans_title {
        font-size: 32px;
    }

    .all_plans .all_plans_card_subtext {
        font-size: 16px;
    }
}
